# Core
Django>=5.1
djangorestframework
django-cors-headers
gunicorn
django-extensions
sentry-sdk

# doc
pydotplus
pygraphviz
docutils
drf-spectacular
black
sentry_sdk

# database
psycopg2-binary
django-storages
boto3
python-magic
channels
shortuuid
rapidfuzz

# env
python-decouple
ipython

# scraping
pandas
lxml
requests
beautifulsoup4
pydantic
scrapy
scrapyd
python-scrapyd-api
html5lib


matplotlib
seaborn
pyvis