# Core
Django
djangorestframework
django-cors-headers
gunicorn
django-extensions
sentry-sdk

# doc
pydotplus
pygraphviz
docutils
drf-spectacular
black
sentry_sdk

# database
mysqlclient
django-storages
boto3
python-magic
channels

# env
python-decouple

# scraping
pandas
lxml
requests
beautifulsoup4
pydantic
scrapy
scrapyd
python-scrapyd-api