# Core
Django
djangorestframework
django-cors-headers
gunicorn
django-extensions

pydotplus
pygraphviz

# database
mysqlclient
django-storages
boto3
python-magic

# env
python-decouple

# scraping
pandas
lxml
requests
beautifulsoup4
scrapy
